* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 20px 0;
}

#welcome-message {
    text-align: center;
    margin: 20px 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color:lightsteelblue;
    color: black;
    width: 80%;
    margin: 0 auto;
}

label {
    font-weight: bold;
    color: #333;
    text-align: left;
}

.form-card {
    width: 350px;
    margin: 20px auto 50px auto;
    padding: 20px 30px;

    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


input[type="text"],
input[type="password"],
input[type="new-password"],
input[type="confirm-password"] {
    width: 80%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 80%;
    padding: 7px;
    background-color:lightsteelblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

#registration-section {
    margin-top: -45px;
}

a {
    color: #1a73e8;
    text-decoration: none;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

a:hover {
    text-decoration: underline;
}


.hidden {
    display: none;
}

body.dashboard {
    width: 100%;
    margin: 0;
}

 header nav {
    background-color: #e8f0f7;
    padding: 10px 0;
    border-radius: 8px;
    margin-top: 20px;
 }

header nav ul.dashboard-nav {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
}

header nav ul.dashboard-nav a {
    color:#2c5f7c;
    text-decoration: none;
    font-weight: lighter;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

header nav ul.dashboard-nav a:hover {
    text-decoration: none;
    background-color: lightsteelblue;
    color: white;

    
}

.dashboard-header {
    text-align: center;
    padding: 20px;
    background-color:azure;
}

main {
    width: 80%;
    margin: auto 0;
}

section.dashboard {
    flex: 1 1 calc(50% - 20px);
}
